/* Defaults */

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background */

.Background {
  background: linear-gradient(90deg, #7fa5d7 0%, #6ac9cf 100%);
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Wrap */

.Wrapper {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  z-index: 2;
}

@media (min-width: 62.5rem) {
  .Wrapper {
    flex-direction: row;
  }
}

.Welcome,
.Form {
  color: #333;
  text-align: center;
}

/* Welcome */

.Welcome {
  align-items: center;
  background: rgba(173, 216, 230, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

@media (min-width: 62.5rem) {
  .Welcome {
    flex: 1;
  }
}

.Welcome-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

@media (min-width: 62.5rem) {
  .Welcome-title {
    font-size: 4rem;
    margin: 0.5rem 0;
  }
}

.Welcome-text {
  margin: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 62.5rem) {
  .Welcome-text {
    font-size: 1.6rem;
  }
}

/* Form */

.Form {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  flex: 1;
}

.Form-content {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
}

@media (min-width: 62.5rem) {
  .Form-row {
    width: 100%;
  }
}

.Form-label {
  display: block;
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #999;
}

@media (min-width: 62.5rem) {
  .Form-label {
    font-size: 1.2rem;
  }
}

.Form-input,
.Form-textarea {
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-bottom: 2px solid #6ac9cf;
  outline: none;
  margin-bottom: 2rem;
  max-width: 100%;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.25s;
}

@media (min-width: 62.5rem) {
  .Form-input,
  .Form-textarea {
    font-size: 2rem;
  }
}

.Form-input:focus,
.Form-textarea:focus {
  border-bottom-color: rgba(255, 204, 0, 1);
  background: rgba(255, 255, 255, 1);
}

.Form-selectWrap {
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #6ac9cf;
  display: block;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
}

.Form-select {
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.Form-selectWrap::after {
  color: #000;
  content: "\25bc";
  display: none;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  .Form-selectWrap::after {
    display: block;
  }

  .Form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid transparent;
    padding-right: 2em;
  }
}

.Form-submit {
  background: rgba(255, 204, 0, 1);
  -webkit-appearance: none;
  border: none;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.5s;
}

@media (min-width: 62.5rem) {
  .Form-submit {
    font-size: 1.2rem;
    padding: 1.5rem 6rem;
  }
}

.Form-submit:disabled {
  background: rgba(255, 204, 0, 0.3);
  pointer-events: none;
}

.Form-submit:focus,
.Form-submit:active {
  outline: none;
}

.Form-cancel {
  background: rgba(255, 255, 255, 0.8);
  -webkit-appearance: none;
  border: none;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  font-size: 0.8rem;
}

.Form-complete {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.Form.is-complete .Form-complete {
  opacity: 1;
  top: 0;
  visibility: visible;
}

.Form-completeTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Form-completeText {
  font-size: 1rem;
}